{
  "acl_datacenter":"malmo",
  "acl_default_policy":"deny",
  "acl_down_policy":"extend-cache",
  "acl_master_token":"398073a8-5091-4d9c-871a-bbbeb030d1f6",
  "acl_agent_token": "92ce8840-6074-147c-f605-03e4c2ec9853"
}